header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: blanchedalmond;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 10px;
}

/* Sections */
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: azure;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

/* Divisions dans section (prévus, confirmés, passés) */
section > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: aliceblue;
	border: 1px solid black;
	border-radius: 10px;
	width: 90%;
	margin-bottom: 5px;
	padding-left: 10px;
}

/* Liste des rendez-vous */
#prevus, #confirmes, #passes{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: antiquewhite;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 5px;
	width: 95%;
	max-height: 45vh;
	overflow-y:scroll;
	padding: 10px 0;
	list-style-type: number;
}

#prevus > div, #confirmes > div, #passes > div {
	flex-direction: column;
	background-color: aquamarine;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 5px;
	width: 85%;
	padding: 10px;
}

#prevus > p, #confirmes > p, #passes > p {
	width: 100%;
}

input[type="checkbox"] {
	margin-top: 10px;
	width: 10%;
	height: 16px;
}
label {
	margin-top: 10px;
	width: 90%;
	align-items: center;
}

/* Dépôt de résultat */
#depot {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: aquamarine;
	width: 90%;
	height: 50vh;
}